#bg {
  height: 100vh;
  width: full;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  empty-cells: hide;
  table-layout: fixed;
  width: 100%;
}
/* width 100% er jnno pura screen er width nibe 
table-layout: fixed etar jnno sob column same width nibe  */

caption {
  border: 1px solid black;
}

th {
  border: 1px solid black;
  height: 20px;
  padding: 5px;
}

td {
  border: 1px solid black;
  height: 20px;
  padding: 5px;
  height: 20px;
  vertical-align: middle;
}
