* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust gap between images */
  flex-wrap: wrap;
}

.container > img {
  /* height: 400px;
  width: 400px;  */
  height: 420px;
  width: 420px;
  object-fit: fill; /* Ensures image covers entire container without stretching */
  object-position: center; /* Center the image within the container */
}
